{% extends "main.html" %}
{% block scripts %}
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=KEY&libraries=places"></script>
  <script type="text/javascript" src = "{{ url_for('static', filename = 'scripts/index.js') }}"></script>
{% endblock %}
{% block body %}
  <div class="d-flex justify-content-center index-bg">
    <!-- search input -->
    <div class="row align-items-center">
      <form class="form-inline">
        <div class="input-group m-1">
          <div class="input-group-prepend">
            <span class="input-group-text">De</span>
          </div>
          <input type="text" class="form-control" id="from-input" />
        </div>
        <div class="input-group m-1">
          <div class="input-group-prepend">
            <span class="input-group-text">A</span>
          </div>
          <input type="text" class="form-control" id="to-input" />
        </div>
        <div class="input-group m-1">
          <div class="input-group-prepend">
            <span class="input-group-text">Fecha</span>
          </div>
          <input type="date" class="form-control" id="basic-url" />
        </div>
        <button type="submit" class="btn btn-primary m-1 pl-3 pr-3">Buscar</button>
      </form>
    </div>
    <!-- end search input -->
  </div>
{% endblock %}
