body, html {
    height: 100%;
    width: 100%;
}

.index-bg {
  background-image: url("/static/images/car-dude-girl.jpg");
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.clickable-item:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
