body, html {
    height: 100%;
    width: 100%;
}

.index-bg {
  background-image: url("/static/images/car-dude-girl.jpg");
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.clickable-item:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.col-fixed-72 {
  width: 72px;
}

.col-fixed-104 {
  width: 104px;
}

.col-fixed-124 {
  width: 124px;
}

.col-fixed-340 {
  width: 340px;
}

.no-wrap {
  white-space: nowrap;
}
